@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

.wrapper {
    border-radius: 20px;
    background-color: #FFE2D9;
    margin: 90px 20px;
    padding: 20px;
    text-align: center;
}

.title {
    margin: 20px 0;
    font-weight: bold;
    font-family: 'Galmuri9', sans-serif;
}

.sub{
    margin-bottom: 0;
    font-family: 'Galmuri9', sans-serif;
    font-size: 19px;
}

.section {
    text-align: center;
    margin: 25px 0;
    /*border-bottom : 2px solid gray;*/
    padding: 0 10px;
}

.buttonGroup {
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    flex-wrap: wrap;
}

.optionButton {
    padding: 0.6rem 1.2rem;
    border-radius: 9999px;
    border: 2px solid #ddd;
    background: #ffffff;
    color: #2c2c2c;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.optionButton:active {
    background: #f5f5f5;
    border-color: #bbb;
}

.active {
    background: #e3350d;
    border-color: #c62b09;
    color: #fff;
    box-shadow: 0 3px 10px rgba(227, 53, 13, 0.3);
}

.optionButton:disabled {
    background-color: #f3f3f3;
    color: #999;
    border-color: #ddd;
    cursor: not-allowed;
    opacity: 0.8;
}


.startButton {
    margin: 1rem 0;
    background: #d62828;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.1s ease;
    box-shadow: 0 4px 12px rgba(227, 53, 13, 0.3);
}

.startButton:hover {
    background: #b81f1f;
    transform: scale(1.05);
}

.label {
    font-size: 22px;
    font-family: 'Galmuri9', sans-serif;
    font-weight: bold;
}