/* 이로치 버튼 */
.shinyBtn {
    border-radius: 50%;
    border: none;
    background-color: #FFC91A;
    padding: 8px
}

/*특성*/
.ablilty {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.ablilty svg {
    margin-left: 3px;
    width: 20px;
    height: 20px;
}

.hiddenMark {
    color: tomato;
    margin-right: 2px;
    /*font-size: 10px;*/
}