.wrapper{
    display: flex;
    margin-top: 80px;
}


/*성별 버튼*/
.femaleBtn {
    border-radius: 50%;
    border: none;
    background-color: #CEA6FF;
    padding: 8px
}

/* 이로치 버튼 */
.shinyBtn {
    border-radius: 50%;
    border: none;
    background-color: #FFC91A;
    padding: 8px
}

/*울음소리 버튼*/
.soundBtn{
    border-radius: 50%;
    border: none;
    background-color: LightCoral;
    padding: 8px
}

/*특성*/
.ablilty {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.ablilty svg {
    margin-left: 3px;
    width: 20px;
    height: 20px;
}

.hiddenMark {
    color: tomato;
    margin-right: 2px;
}