/* 이로치 버튼 */
.shinyBtn {
    border-radius: 50%;
    border: none;
    background-color: #FFC91A;
    padding: 8px
}

/*울음소리 버튼*/
.soundBtn{
    border-radius: 50%;
    border: none;
    background-color: LightCoral;
    padding: 8px
}

/*특성*/
.ablilty {
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.ablilty svg {
    margin-left: 3px;
    width: 20px;
    height: 20px;
}

.hiddenMark {
    color: tomato;
    margin-right: 2px;
    /*font-size: 10px;*/
}

/*방어상성 테이블*/
.damageTable{
    width:400px;
    border: 1.5px solid dimgray;
}
.damageTable tr, .damageTable td{
    border: 1.5px solid dimgray;

}
.tdKey{
    width:20%;
    text-align: center;
}
.tdVal{
    width:80%;
}