.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #222;
}

.img{
    max-width: 200px;
    margin: 20px;
}

.text{
    font-weight: bold;
}

@media (max-width: 950px) {
    .img {
        width: 20%;
    }

}