@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body, #root {
    font-family: 'Galmuri11', 'Galmuri9', sans-serif;
    min-height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

/* 툴팁 내부 스타일 커스텀 */
.tooltip {
    position: fixed !important;
}

.tooltip-inner {
    background-color: Gainsboro; /* 배경색 변경 */
    color: black; /* 글자색 변경 */
    padding: 10px 15px; /* 패딩 조절 */
    font-size: 14px; /* 글자 크기 조절 */
    border-radius: 8px; /* 모서리 둥글게 */
    font-family: 'Galmuri11', sans-serif;
}

/* 화살표 색상 변경 */
.tooltip-arrow::before {
    border-right-color: Gainsboro !important; /* 배경색과 맞추기 */
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.9) !important; /* 반투명 흰색 */
    backdrop-filter: blur(8px); /* 배경 블러 효과 */
    border: 1px solid rgba(0, 0, 0, 0.1); /* 은은한 테두리 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* 부드러운 그림자 */
}
.dropdown-item {
    color: #212529 !important; /* 글자색 */
}
.dropdown-item:hover {
    background-color: #e9ecef !important; /* 호버 시 색상 */
}