.wrapper {
    width: 100%;
    text-align: center;
    position:relative;
}

.input {
    width: 70%;
    min-width: 300px;
    max-width: 900px;
    padding: 15px 25px;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px 0;
    outline: none;
}

.icon {
    position:absolute;
    top:30%;
    right:17%;
    cursor:pointer;
}

@media (max-width: 900px) {
    .input {
        width: 90%;
    }

    .icon{
        right:10%;
    }
}

