.img {
    width:150px;
}

.card{
    border-radius: 10px;
    background-color: WhiteSmoke;
    width:235px;
    text-align: center;
    padding:10px;
    margin:10px;
    min-height: 300px;
}

@media (max-width: 950px) {
    .card {
        width: 170px;
        margin:7px 5px;
        min-height: 250px;
    }
}
