.typeBtn {
    padding: 6px 15px;
    margin: 3px;
    border-radius: 10px;
    color: white;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 15px;
    text-decoration: none;
}

@media (max-width: 950px) {
    .typeBtn {
        font-size: 13px;
        padding: 6px 12px;
    }
}
