.box{
    padding : 10px;
    width:100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.wrapper{
    width:70%;
    min-width: 300px;
    max-width: 900px;
}

@media (max-width: 900px) {
    .wrapper {
        width: 90%;
    }
}